<div class="panel panel-default" ng-controller="EventRaceController as race">
    <!-- Default panel contents -->

    <input class="btn btn-default" type="button" value="Finish Race" ng-click="onFinish()">
    <input class="btn btn-default" type="button" value="Assign Times" ng-click="onAssignTimes()">
    <input class="btn btn-default" type="button" value="Post Results" ng-click="onPost()">
    <input class="btn btn-default" type="button" value="Reset" ng-click="onReset()">
    <table class="table">
        <tr>
            <th>Finish Time</th>
            <th>Finish Order</th>
            <th>Assign Lane</th>
        </tr>
        <tr ng-repeat="finish in race.finishes">
            <td>{{ finish.finish_time | date:"H:mm:ss.sss" }}</td><td>{{ finish.finish_order }}</td>
            <td><select class="form-control" ng-model="assigned_lanes" ng-click="onAssignLane(assigned_lanes)">
                <option ng-repeat="lane in race.remaining_lanes">{{ lane }}</option>
            </select>
            </td>
        </tr>
    </table>
    <br>
    <select class="form-control" ng-model="selectedEvent" ng-click="onFilterEvents(selectedEvent)">
        <option ng-repeat="eventnum in race.eventList">{{ eventnum.label }}</option>
    </select>

    <div class="panel-heading">Events</div>

    <!-- Table -->
    <table class="table">
        <tr>
            <th>Event</th>
            <th>Team</th>
            <th>Seed</th>
            <th>Label</th>
            <th>Lane</th>
            <th>Finish Order</th>
            <th>Finish Time</th>
        </tr>
        <tr ng-repeat="boat in race.filtered_events | orderBy:'Bow_Lane_ID'">
            <td>{{ boat.Event }}</td>
            <td>{{ boat.Team }}</td>
            <td>{{ boat.Seed }}</td>
            <td>{{ boat.Boat_Label }}</td>
            <td>{{ boat.Bow_Lane_ID }}</td>
            <td>{{ boat.finish_order }}</td>
            <td>{{ boat.finish_time}}</td>
        </tr>
    </table>
</div>